.box-full-page {
	width: 100%;
	float: left;
}

#topo {
	background: #2a2a2a;
	border-bottom: 10px solid #373737;
	border-top: 5px solid #373737;
}

#topo-inside {
	width: 960px;
	margin: 0 auto;
}

#logo {
	float: left;
	margin: 15px 0 15px 60px;
	color: #ffffff;
	width: 400px;
	position: relative;
}

#logo h1 {
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 1.9em;
}

#logo h1  span {
	font-weight: bolder;
}

#logo h1 #logo-num-4 {
	position: absolute;
	top: -15px;
	left: -45px;
	font-size: 2.8em;
	color: #00aab0;
}

#logo p {
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 1.4em;
	margin-left: 150px;
}

#menu {
	float: right;
	margin: 30px 30px 30px 0;
	font-family: Helvetica, Arial, sans-serif;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	text-decoration: none;
	margin: 0 2px 0 2px;
	color: #ffffff;
	padding: 3px 10px 3px 10px;
}

#menu ul li a:hover {
	background: #000000;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

#conteudo-inside {
	margin: 0 auto;
	width: 960px;
	padding: 10px 05px 10px 5px;
}

#conteudo h1 {
	font-size: 2.8em;
	margin-bottom: 10px;
}

.message-info {
	font-size: 1.24em;
	color: blue;
	margin: 0 auto;
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
}

.message-form-info,.message-form-error {
	font-size: 0.7em;
}

.message-form-info {
	color: blue;
}

.message-form-error {
	color: red;
}

/*Tabelas*/
.tabela {
	margin: 15px 0 10px 0;
	font-family: Arial, Verdana, sans-serif;
	border: #cccccc 01px solid;
	padding: 3px;
	width: 100%;
}

.tabela tr td {
	padding: 10px 0px 10px 0px;
}

.tabela .header {
	background: #f1f1f1;
	padding: 5px;
	color: #2a2a2a;
	font-weight: bolder;
	margin-bottom: 5px;
}

.odd {
	background: #ffffff;
}

.even {
	background: #f1f1f1;
}

.voltar-link {
	float: right;
	margin-botton: 5px;
}

.formulario {
	font-size: 1.4em;
}

.formulario tr td {
	padding: 5px 10px;
}

.formulario input[type=text],.formulario textarea {
	border: 01px #cccccc solid;
	padding: 3px 7px 3px 7px;
}

.formulario input[type=text] {
	font-size: 1.4em;
}

.formulario textarea {
	font-size: 0.8em;
	background: white;
}

.formulario input[type=submit] {
	padding: 5px 10px 5px 10px;
	background: #2a2a2a;
	color: #ffffff;
	font-size: 0.8em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	margin: 0 05px;
	float: right;
}

.formulario input[type=submit]:hover {
	cursor: pointer;
	background: #3B5998;
	color: #ffffff;
}

.descricao {
	width: 100%;
	float: left;
	margin-top: 10px;
}

.descricao dd {
	margin-bottom: 10px;
}

#briefing {
	width: 220px;
	float: left;
}

#info {
	float: left;
	width: 660px;
	margin-left: 5px;
}

#movie-comments {
	background: #f1f1f1;
	width: 100%;
	float: left;
	margin-top: 10px;
}

#movie-comments .comment {
	border-bottom: #d5d5d5 01px dotted;
	padding: 10px 3px 10px 3px;
}

#movie-comments .comment small {
	font-size: 0.7em;
}

#movie-comments .comment small {
	padding: 5px 0 5px 5px;
}

#movie-comments #comment-form {
	font-family: "Myriad Pro", Arial, sans-serif;
	width: 100%;
	float: left;
	background: #ababac;
	padding: 10px 0 10px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#movie-comments #comment-form input[type=text],#movie-comments #comment-form textarea {
	border: 01px solid #b8c0c4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#movie-comments #comment-form textarea {
	padding: 05px;
	font-family: "Myriad Pro", Arial, sans-serif;
}

#movie-comments #comment-form input[type=text]:hover,#movie-comments #comment-form textarea:hover
	{
	border: 01px solid #4e565b;
}

#movie-comments .comment-link {
	color: #ffffff;
	text-decoration: none;
	margin: 10px;
	width: 100%;
	float: left;
	font-size: 0.5em;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
}

#movie-comments .comment-link:hover {
	background: #505A74;
}

#movie-comments #comment-form #add-comment {
	width: 50%;
	float: left;
	padding: 10px;
	text-align: right;
}

#movie-comments  #comment-form #add-comment input[type=submit] {
	color: #ffffff;
	margin: 0 5px;
}

#movie-comments  #comment-form #add-comment input[type=submit]:hover {
	background: #3B5998;
	color: #EDEFF4;
}

#movie-comments #comment-list {
	float: left;
	width: 100%;
	padding: 10px;
}

#movie-comments #comment-list p {
	font-family: Arial, Verdana, sans-serif;
	font-size: 0.8em;
	color: #333333;
	margin: 4px 4px 4px 20px;
}

.movie-box {
	width: 215px;
	float: left;
	margin-right: 3px;
}

.movie-box .movie-image {
	text-align: center;
}

.movie-box .movie-image a {
	border: none;
}

.movie-box .movie-description {
	width: 100%;
	float: left;
	margin-top: 5px;
	font-family: "Myriad Pro", Arial, sans-serif;
}

.movie-box .movie-description a {
	text-decoration: none;
	color: #333333;
}

.movie-box .movie-description .movie-title {
	text-align: center;
	font-weight: bolder;
}

.movie-box .movie-description .movie-director-genre {
	text-align: center;
	margin-top: 2px;
}